extends layout

block content
    h1 #{eventDetails.title}
    h4 Overview
    p #{eventDetails.description}
    h4 Date
    p #{eventDetails.start_date}
    
    a(href="http://localhost:3000/events/#{eventDetails.event_id}/edit") Edit Event
    br
    a(href="http://localhost:3000/events/#{eventDetails.event_id}/optin") Attend this Event
    h3 Comments
    if locals.eventDetails.can_users_comment
        form(action="http://localhost:3000/events/#{eventDetails.event_id}/comment", method="post")
            p Add a Comment
            input(type="text", name="commentMessage")
            input(type="submit", value="Add Comment")
        if locals.eventDetails.comments
            each comment in comments
                li
                    h3= comment.author_username
                    p= comment.message
        else
            p No comments found for this event
    else
        p Comments are currently disabled for this event
        
    script(src="/scripts/attend-event.js")
    
    //
        button(onclick="attendEvent(#{eventDetails.event_id})") Attend this Event