extends layout

block content
    h1 #{orgName}
    
    p #{orgDesc}
    
    h4 Members
    if locals.members
        each val in members
            li= val.username
            
    h4 Events
    if locals.events
        each val in events
            li= val.title
    
    
    a(href="http://localhost:3000/organizations/#{orgId}/edit") Edit Information
    
    a(href="http://localhost:3000/organizations/#{orgId}/events/create") Add Event
    
    //
        DON'T FORGET TO ADD A BUTTON THAT ALLOWS USERS TO BECOME A MEMBER OF AN ORGANIZATION
        Also some logic in the controllers that checks if the user is already a member
        Another also, pass the view a boolean that dictates whether the current user is an admin or not and if not an admin, don't show the last two links
        
        a(href="http://localhost:3000/organizations/#{orgId}/join") Join Organization