extends layout

block content
    h1 #{org_name}
    
    p #{org_desc}
    
    h4 Members
    if locals.members
        each val in members
            li= val.username
            
    h4 Events
    if locals.events
        each val in events
            li= val.title
            
    a(href="http://localhost:3000/organizations/#{org_id}/edit") Edit Information
    
    a(href="http://localhost:3000/organizations/#{org_id}/events/create") Add Event
    
    //
        DON'T FORGET TO ADD A BUTTON THAT ALLOWS USERS TO BECOME A MEMBER OF AN ORGANIZATION
        Also some logic in the controllers that checks if the user is already a member
        
        a(href="http://localhost:3000/organizations/#{org_id}/join") Join Organization