extends layout

block content
    section(class="groupOverview")
        h1(class="groupName") #{name}
        if locals.org_image_path
                img(class="orgImage", src= org_image_path)
            else
                img(class="orgImage", src="../images/sample_group_avatar.png")
        section(class="orgActionSection")
            a(href="http://localhost:3000/organizations/#{organization_id}/edit") Edit Information
            a(href="http://localhost:3000/events/create?orgId=#{organization_id}") Add Event
            if locals.isMember
                a(href="http://localhost:3000/organizations/#{organization_id}/leave") Leave this Organization
            else
                a(href="http://localhost:3000/organizations/#{organization_id}/join") Join this Organization
    
    section(class="groupBodySection")
        section(class="groupInfo")
            h4 Description
            p #{description}

        section(class="membersSection")
            h4 Members
            if locals.listOfUsers
                each val in listOfUsers
                    li
                        a(href="http://localhost:3000/users/#{val.user_id}")= val.username

        section(class="eventsSection")
            h4 Events
            if locals.listOfEvents
                each val in listOfEvents
                    li 
                        img(src= val.event_image_path)
                        a(href="http://localhost:3000/events/#{val.event_id}")= val.title
            else
                p No events posted
    
    
    //
        DON'T FORGET TO ADD A BUTTON THAT ALLOWS USERS TO BECOME A MEMBER OF AN ORGANIZATION
        Also some logic in the controllers that checks if the user is already a member
        Another also, pass the view a boolean that dictates whether the current user is an admin or not and if not an admin, don't show the last two links
        
        a(href="http://localhost:3000/organizations/#{organization_id}/join") Join Organization
        
        if locals.session.user.userId
            p Found user ID in session
            p= session.user.userId
        
        
        script(href="./public/scripts/join-org.js")
        
        section(class="searchFormSection")
            form(class="searchOrgsForm", action="http://localhost:3000/search", method="get")
                input(type="text", name="userQuery", placeholder="Search for groups..")
                input(type="submit" value="Search")
                
                
        img(src= val.avatar_path)
        p Created by: #{original_author_id} <-- Find a use for this in the future